/* Pagination */

.wrapper-pagination{
  position: relative;
  padding: 28px 0;
  background: $white;
  border-bottom: 4px solid $dark-blue;
  &:before{
    content: '';
    display: block;
    width: 100%;
    height: calc(100% + 33px);
    position: absolute;
    top: -33px;
    left: 0;
    background: url('../layoutImg/pagination-gift.png') no-repeat -5px 0;
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
      background-image: url('../layoutImg/pagination-gift@2x.png');
      background-size: 110px 113px;
    }
  }
  .container{
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
}

.pagination{
  margin: 0;
  padding: 0;
  > li{
    display: inline-block;
    vertical-align: baseline;
    &:first-child, &:last-child{
      a{
        margin: 0;
      }
    }
    &.active{
      a{
        opacity: 1;
        font-size: 1.8rem;
      }
    }
  }
  a{
    margin: 0 8px;
    font-family: $lato;
    font-size: 1.6rem;
    opacity: 0.5;
  }
  svg{
    width: 20px;
    height: 20px;
  }
}
