/* Product */

$transition-product: 0.3s ease-out;
$transition-price-duration: 0.15s;

.product{
	height: 440px;
	&:hover{
		.img-product{
			.btn-product{
				&:before{
					opacity: 1;
				}
				a{
					opacity: 1;
					transform: translate3d(0, 0, 0);
				}
			}
		}
		.desc-product{
			&:before{
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
		}
		.product-price{
			opacity: 1;
			transform: translate3d(0, 0, 0);
			transition-delay: $transition-price-duration;
		}
		.arrow-product{
			opacity: 0;
			transform: translate3d(20px, 0, 0);
			transition-delay: 0;
		}
	}
}
.img-product{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 345px;
	background: $white;
	text-align: center;
	img{
		display: inline-block;
		max-width: 75%;
	}
	.btn-product{
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		text-align: center;
		a{
			position: relative;

			opacity: 0;
			transform: translate3d(0, 20px, 0);
			transition: $transition-product;
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba($yellow, 0.85);

			opacity: 0;
			transition: $transition-product;
		}
	}
}
.desc-product{
	display: flex;
	height: 74px;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 18px 28px;
	background: $light-blue;
	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $white;

		opacity: 0;
		transition: $transition-product;
	}
}
.name-shop{
	position: relative;
	width: 75%;
}
.product-name{
	font-family: $latobold;
	font-size: 1.6rem;
	max-width: 100%;
	@include ellipsis;
}
.product-shop{
	font-family: $lato;
	font-size: 1.6rem;
	max-width: 100%;
	@include ellipsis;
}
.product-price{
	position: relative;
	
	opacity: 0;
	transform: translate3d(-20px, 0, 0);
	transition: $transition-price-duration ease-out;
	transition-delay: 0;
}

.arrow-product{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	right: 28px;
	margin-top: -10px;

	transition: $transition-price-duration ease-out;
	transition-delay: $transition-price-duration;
}
