// Variables //


// Colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$dark-blue: rgb(9, 31, 45);
$light-grey: rgb(204, 210, 214);
$yellow: rgb(219, 184, 49);
$light-blue: rgb(235, 242, 248);

// Transitions
$transition: 0.3s ease-in-out;

// Fonts
$lato: 'lato', sans-serif;
$latoitalic: 'latoitalic', $lato;
$latobold: 'latobold', $lato;
$latobolditalic: 'latobolditalic', $latoitalic;
$montserrat: 'montserrat', sans-serif;
$montserratbold: 'montserratbold', $montserrat;

// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';
