/* Forms */

::-webkit-input-placeholder{
}
::-moz-placeholder{
}
:-ms-input-placeholder{
}

fieldset{
  &.search-group{
    position: relative;
    border-bottom: 1px solid $light-grey;
  }
}

input, textarea, select, button{
  	transition: $transition;
  	&:focus{
      	outline: 0;
  	}
}

input, textarea{
  	&:-webkit-autofill{
      	box-shadow: 0 0 0 1000px #fff inset;
  	}
}

input{
    border: 1px solid $dark-blue;
    border-radius: 3px;
    padding: 18px;
    color: $dark-blue;
    font-family: $lato;
    font-size: 1.6rem;
    // hide the symbols of input search
    &[type=search]{
        &::-webkit-search-cancel-button, &::-webkit-search-decoration{
            display: none;
        }
    }
    &.search-input{
      font-size: 1.5rem;
      padding: 4px 100px 4px 0;
      border: none;
    }
}

select{
    // hide the arrow on edge + ie
    &::-ms-expand{
        display: none;
    }
}

button{
  border: none;
  font-family: $latobold;
  font-size: 1.6rem;
  background: $yellow;
  border: 1px solid $yellow;
  color: $white;
  padding: 18px;
  border-radius: 3px;
  &.btn-search{
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -7px;
    padding: 0;
    background: none;
    border: none;
    color: $dark-blue;
    .icon{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

#newsletter{
  input, button{
    display: inline-block;
    vertical-align: top;
  }
  input{
    border-right: none;
    border-radius: 3px 0 0 3px;
  }
  button{
    border-radius: 0 3px 3px 0;
  }
}
