/* Forms */

::-webkit-input-placeholder{
}
::-moz-placeholder{
}
:-ms-input-placeholder{
}

fieldset{
  &.search-group{
    border-bottom: 1px solid $light-grey;
  }
}

input, textarea, select, button{
  	transition: $transition;
  	&:focus{
      	outline: 0;
  	}
}

input, textarea{
  	&:-webkit-autofill{
      	box-shadow: 0 0 0 1000px #fff inset;
  	}
}

input{
    border: none;
    color: $dark-blue;
    // hide the symbols of input search
    &[type=search]{
        &::-webkit-search-cancel-button, &::-webkit-search-decoration{
            display: none;
        }
    }
    &.search-input{
      font-size: 1.5rem;
      padding: 4px 100px 4px 0;
    }
}

select{
    // hide the arrow on edge + ie
    &::-ms-expand{
        display: none;
    }
}
