/* Header */

#header{
	padding: 20px 0 16px;
	.container{
		display: flex;
		justify-content: space-between;
	}
	#logo{
		margin: 0 70px 0 0;
	}
}

#header-right{
	padding-top: 12px;
}

#form-header{
	display: inline-block;
	vertical-align: middle;
}