/* Header */

#header{
	padding: 20px 0 16px;
}

#logo{
	display: inline-block;
	vertical-align: middle;
	height: 42px;
	margin: 0 70px 0 0;
	text-indent: -99em;
	overflow: hidden;
	img{
		display: block;
	}
	span{
		position: absolute;
	}
}

#form-header{
	display: inline-block;
	vertical-align: middle;
}